[submodule "submodule"]
	path = submodule
	url =  https://lab.ssafy.com/si4018/d108_secret.git
;     url = git@github.com:TEAM-2NE1/steach-server-submodule.git
; 	url = https://github.com/TEAM-2NE1/steach-server-submodule.git
; 젠킨스 빌드를 위한 https -> ssh
